<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hello</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
  <% include partials/nav.ejs %>

  <h1>Welcome to profile of <%= person %></h1>
  <p><strong>Age: </strong><%= data.age %></p>
  <p><strong>Job: </strong><%= data.job %></p>
  <h2><strong>Hobbies</strong></h2>
  <ul>
    <% data.hobbies.forEach(function(item){ %>
      <li><%= item %></li>
    <% }); %>
  </ul>
</body>

</html>