/*// BASE STYLES //*/

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.road {
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/

.mario {
  position: absolute;
  top: -40px;
  left: 0;
  animation-name: drive, jump;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.luigi {
  position: absolute;
  top: 40px;
  left: 0;
  animation-name: drive;
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-direction: normal;
}

.cloud {
  position: absolute;
  animation: wind 75s linear infinite;
}

.cloud:nth-child(1) {
  animation-duration: 75s;
  width: 200px;
  top: 120px;
  opacity: 0.5;
}

.cloud:nth-child(2) {
  animation-duration: 65s;
  animation-direction: reverse;
  width: 300px;
  top: 0;
}

/*// KEYFRAMES //*/

@keyframes drive {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(1950px);
  }
}

@keyframes wind {
  0% {
    left: -300px;
  }
  100% {
    left: 100%;
  }
}

@keyframes jump {
  0% {
    top: -40px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -40px;
  }
}
